<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <!-- these tags are behaving the same way as normal components
        - You can use v-if
        - You can bind dynamic properties
        - Of course v-show does not have any effect

    When there are two duplicate values, here title, vue-seo apply a policy to determine
    what to do. The default policy is to take the most inner most bottom version

    Here if override is false then the first title is displayed
    if override is true the the content of "specialTitle is used"
  -->
  <seo-title value="This is the default boring title"></seo-title>
  <seo-title v-if="override" :value="specialTitle"></seo-title>
  <label>
    The title is dynamic !: <input type="text" v-model="specialTitle"><br>
    <input type="checkbox" v-model="override">
  </label>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.js"></script>
  <script src="../index.js"></script>
  <script src="./title.js"></script>
</body>
</html>
